# Dependências
node_modules/

# Variáveis de ambiente e segredos
.env

# Logs de execução
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de build ou sistema
dist/
build/
.DS_Store